<ul>
  <li>  
          <option *ngFor="let moviebooking of moviebookings"> </option>  

          <table>
            <tr>
              <td>Spiderman</td>
            </tr>
          </table>  
<table>
   
    <tr>
      <td id ='A1'>A1</td>
      <td id ='A2'>A2</td>
      <td id ='A3'>A3</td>
      <td id ='A4'>A4</td>
      <td id ='A5'>A5</td>
      <td id ='A6'>A6</td>
      <td id ='A6' bgcolor="green">A7</td>
      <td id ='A8' bgcolor="green">A8</td>
    </tr>
    <tr>
        <td id ='B1'>B1</td>
        <td id ='B2' bgcolor="green">B2</td>
        <td id ='B3'>B3</td>
        <td id ='B4'>B4</td>
        <td id ='B5' bgcolor="green">B5</td>
        <td id ='B6' bgcolor="green">B6</td>
        <td id ='B7'>B7</td>
        <td id ='B8'>B8</td>
    </tr>
    <tr>
        <td id ='C1'>C1</td>
        <td id ='C2'>C2</td>
        <td id ='C3'>C3</td>
        <td id ='C4'>C4</td>
        <td id ='C5'>C5</td>
        <td id ='C6'>C6</td>
        <td id ='C7' bgcolor="green">C7</td>
        <td id ='C8' bgcolor="green">C8</td>
    </tr>
  </table>

</li>  
</ul>