<table>
    <tr>
      <td id ='A1' bgcolor="green">A1</td>
      <td id ='A2'>A2</td>
      <td id ='A3'>A3</td>
      <td id ='A4'>A4</td>
      <td id ='A5' bgcolor="green">A5</td>
    </tr>
    <tr>
        <td id ='B1'>B1</td>
        <td id ='B2' bgcolor="green">B2</td>
        <td id ='B3'>B3</td>
        <td id ='B4'>B4</td>
        <td id ='B5'>B5</td>
    </tr>
    <tr>
        <td id ='C1'>C1</td>
        <td id ='C2'>C2</td>
        <td id ='C3'>C3</td>
        <td id ='C4'>C4</td>
        <td id ='C5'>C5</td>
    </tr>
  </table>